/* category section css start */
.category-section {
    background-image: url("../images/section-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.category-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.category-item {
    border-radius: 12px;
    background-color: var(--white);
    overflow: hidden;
    border: 1px solid var(--border-color);
    box-shadow: 0px 4px 6px 0px #0000001A;
    box-shadow: 0px 2px 4px 0px #0000001A;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.category-img {
    overflow: hidden;
}

.category-img img {
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
}

.category-item:hover .category-img img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.category-content {
    padding: 20px 24px 44px;
}

.category-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-transform: capitalize;
}

.category-text {
    font-size: 16px;
    line-height: 24px;
    margin: 13px 0 0 0;
}

.category-item-list li {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 13px 0 0 0;
}

.category-item-list li .icon {
    display: flex;
}

.category-list-text {
    color: var(--brand-color2);
    font-size: 14px;
    line-height: 20px;
}

/* category section css end */

@media only screen and (max-width:992px) {

    /* category section css start */
    .category-items {
        grid-template-columns: repeat(2, 1fr);
    }

    /* category section css end */
}

@media only screen and (max-width: 767px) {

    /* category section css start */
    .category-items {
        gap: 16px;
    }

    .category-content {
        padding: 16px;
    }

    .category-title {
        font-size: 18px;
        line-height: 28px;
    }

    .category-text {
        font-size: 14px;
        line-height: 20px;
        margin: 10px 0 0 0;
    }

    .category-list-text {
        font-size: 12px;
        line-height: 16px;
    }

    /* category section css end */
}

@media only screen and (max-width: 575px) {

    /* category section css start */
    .category-items {
        grid-template-columns: repeat(1, 1fr);
    }

    .category-item {
        display: flex;
        align-items: center;
    }

    .category-img {
        width: 34%;
        height: 100%;
    }

    .category-content {
        width: 66%;
    }

    .category-text {
        margin: 5px 0 0 0;
        font-size: 12px;
        line-height: 16px;
    }

    .category-item-list li {
        margin: 8px 0 0 0;
    }

    /* category section css end */
}