/* content-card-section css start */
.content-card-section {
    background: linear-gradient(135deg, rgba(245, 241, 232, 0.3) 0%, rgba(156, 175, 136, 0.05) 70.71%);
}

.content-card-items {
    max-width: 976px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.content-card-item {
    background: var(--white);
    padding: 32px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    box-shadow: 0px 10px 15px 0px #0000001A;
}

.content-card-item-heading {
    display: flex;
    align-items: center;
    gap: 16px;
}

.content-card-item-heading .icon {
    display: flex;
}

.content-card-item-title {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.content-card-item-content {
    margin: 16px 0 0 0;
}

.content-card-item-content-inner {
    margin: 0 0 16px 0;
}

.content-card-item-content-inner:last-child {
    margin: 0;
}

.content-card-item-content-inner p strong {
    color: var(--heading-text-color);
}

.content-card-item:last-child {
    grid-column: span 2;
    background: rgba(156, 175, 136, 0.102);
    border: 1px solid rgba(156, 175, 136, 0.2);
    box-shadow: none;
}

.content-card-item:last-child .content-card-item-content {
    margin: 16px 0 0 64px;
}

.content-card-section .section-btn .btn {
    box-shadow: 0px 10px 15px 0px #0000001A;
}

/* content-card-section css end */

@media only screen and (max-width: 767px) {

    /* content-card-section css start */
    .content-card-items {
        grid-template-columns: repeat(1, 1fr);
    }

    .content-card-item:last-child {
        grid-column: span 1;
    }

    /* content-card-section css end */
}

@media only screen and (max-width: 575px) {

    /* list-content-section css start */
    .content-card-items {
        gap: 20px;
    }

    .content-card-item {
        padding: 20px;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
    }

    .content-card-item-heading {
        gap: 12px;
    }

    .content-card-item-heading .icon svg {
        width: 36px;
        height: 36px;
    }

    .content-card-item-title {
        font-size: 20px;
        line-height: 28px;
    }

    .content-card-item-content-inner {
        margin: 0 0 12px 0;
    }

    .content-card-item-content-inner p {
        font-size: 14px;
    }

    .content-card-item:last-child .content-card-item-content {
        margin: 16px 0 0 0;
    }

    /* list-content-section css end */
}