/* icon-item section css start */
.icon-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.icon-item {
    text-align: center;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.icon-item:hover {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}

.icon-item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 80px;
    height: 80px;
    background: rgba(156, 175, 136, 0.1);
    margin: 0 auto;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.icon-item-content {
    margin: 16px 0 0 0;
}

.icon-item-title {
    color: var(--brand-color);
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    text-transform: capitalize;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.icon-item-text {
    margin: 10px 0 0 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

/* icon-item section css end */

/* overview css start */
.overview-wrapper {
    margin: 64px 0 0 0;
    background: var(--item-bg);
    padding: 48px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}

.overview-title {
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    text-align: center;
    margin: 0 0 32px 0;
}

.overview-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.overview-item {
    display: flex;
    gap: 16px;
}

.overview-item .icon {
    background: var(--item-bg3);
    width: 24px;
    min-width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.overview-item-title {
    color: var(--heading-text-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    margin: 0 0 8px 0;
}

.overview-item-text {
    font-size: 14px;
    line-height: 20px;
    max-width: 280px;
}


/* overview css end */


@media only screen and (max-width: 992px) {

    /* icon-item section css start */
    .icon-items {
        grid-template-columns: repeat(2, 1fr);
    }

    /* icon-item section css end */

    /* overview css start */
    .overview-wrapper {
        margin: 35px 0 0 0;
    }

    /* overview css end */
}

@media only screen and (max-width: 767px) {

    /* icon-item section css start */
    .icon-item .icon {
        width: 64px;
        height: 64px;
    }

    .icon-item .icon svg {
        width: 24px;
        height: 24px;
    }

    .icon-item-content {
        margin: 10px 0 0 0;
    }

    .icon-item-title {
        font-size: 18px;
        line-height: 28px;
    }

    .icon-item-text {
        font-size: 14px;
        margin: 5px 0 0 0;
        line-height: 20px;
    }

    /* icon-item section css end */


    /* overview css start */
    .overview-items {
        grid-template-columns: repeat(2, 1fr);
    }

    .overview-wrapper {
        margin: 30px 0 0 0;
        padding: 20px;
    }

    /* overview css end */
}

@media only screen and (max-width: 575px) {

    /* icon-item section css start */
    .icon-items {
        grid-template-columns: repeat(1, 1fr);
    }

    /* icon-item section css end */

    /* overview css start */
    .overview-wrapper {
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
    }

    .overview-items {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    /* overview css end */
}