/* common css start */
/* import fonts-- */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_24pt-Light.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_24pt-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_24pt-Medium.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_24pt-SemiBold.woff') format('woff');
    font-weight: 600;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_24pt-Bold.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_24pt-ExtraBold.woff') format('woff');
    font-weight: 800;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_24pt-Black.woff') format('woff');
    font-weight: 900;
}

/* colors */
:root {
    /* color */
    --black: #000000;
    --white: #ffffff;
    --heading-text-color: #5A6B4F;
    --paragraph-text-color: #4B5563;
    --brand-color: #3D7B58;
    --brand-color2: #A82C2C;
    --item-bg: #F5F1E8;
    --item-bg2: #F9FAFB;
    --item-bg3: #9CAF88;;
    --item-bg4: #F3F4F6;
    --item-bg5: #5A6B4F;
    --section-bg: #F5F1E8;
    --border-color: #E5E7EB;
    --text-muted: #4B5563;
    --text-muted2: #6B7280;
    --btn-color: #fff;
    --btn-bg: #9CAF88;
    --btn-bg2: #A82C2C;

    /* font family */
    --heading-font: "Inter", serif;
    --paragraph-font: "Inter", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: var(--paragraph-font);
    transition: all ease .7s;
    margin: 64px 0 0 0;
}

body.active {
    overflow: hidden;
    transition: all ease .7s;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: var(--paragraph-font);
    transition: ease .3s;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.2;
    font-family: var(--heading-font);
    color: var(--heading-text-color);
}

p {
    font-size: 16px;
    font-weight: 400;
    color: var(--paragraph-text-color);
    font-family: var(--paragraph-font);
    margin: 0;
    line-height: 22px;
}

.container {
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
}

.section {
    padding: 80px 0;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/* input css start */
input,
textarea,
select {
    color: var(--paragraph-text-color);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--paragraph-font);
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    appearance: none;
    -moz-appearance: textfield;
    -webkit-appearance: none;
    /* Firefox */
}

input::placeholder,
textarea::placeholder,
select::placeholder {
    color: var(--text-muted);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

/* input css end */

/* button css start */
button {
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border: none;
    transition: ease .3s;
    color: var(--btn-color);
}

.btn {
    font-size: 18px;
    font-weight: 400;
    padding: 20px 32px;
    transition: ease .3s;
    font-family: var(--paragraph-font);
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    z-index: 1;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.btn:hover {
    text-decoration: none;
}

.primary-btn {
    color: var(--white);
    position: relative;
    overflow: hidden;
    background-color: var(--btn-bg);
    border: 1px solid transparent;
}

.primary-btn span,
.secondary-btn span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.primary-btn span {
    background-color: var(--btn-bg2);
}

.primary-btn:hover {
    border-color: var(--btn-bg2);
}

.primary-btn:hover span,
.secondary-btn:hover span {
    width: 225%;
    height: 562.5px;
}

.primary-btn:active {
    background-color: var(--white);
}

.secondary-btn {
    color: var(--btn-color);
    position: relative;
    overflow: hidden;
    background-color: var(--btn-bg2);
    border: 1px solid transparent;
}

.secondary-btn span {
    background-color: var(--btn-bg);
}

.secondary-btn:hover {
    color: var(--white);
    border-color: var(--btn-bg);
}

.secondary-btn:active {
    background-color: var(--btn-bg);
}

/* button css end */

/* section heading css start */
.section-heading-wrapper {
    margin-bottom: 64px;
    text-align: center;
}

.section-heading {
    color: var(--brand-color);
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    max-width: 591px;
    margin: 0 auto;
}

.section-heading-text {
    color: var(--paragraph-text-color);
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    padding: 16px 0 0 0;
    max-width: 748px;
    margin: 0 auto;
}

.section-btn {
    display: flex;
    justify-content: center;
    margin: 60px 0 0 0;
}

.section-btn .btn {
    max-width: 310px;
    width: 100%;
}

/* section heading css end */

/* common css end */

/* navbar section css start */
.navbar {
    height: 64px;
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: ease .3s;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 4px 6px 0px #0000001A;
    box-shadow: 0px 2px 4px 0px #0000001A;
}

.navbar.nav-fixed {
    top: 0;
}

.navbar .container {
    height: 100%;
}

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.mobile-menu-btn {
    display: none;
}

.ham-menu {
    height: 24px;
    width: 24px;
    position: relative;
    cursor: pointer;
}

.ham-menu span {
    height: 2.5px;
    width: 100%;
    background-color: var(--heading-text-color);
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.navbar-logo {
    display: block;
}

.mobile-menu-close-window-btn {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    user-select: none;
    cursor: pointer;
    display: none;
}

.mobile-side-bar-top {
    display: none;
}

.nav-link-wrapper {
    margin: 0 23px 0 auto;
}

.nav-links ul {
    display: flex;
    gap: 23px;
}

.sub-menu ul {
    flex-direction: column;
    gap: 0;
}

.sub-menu ul li a,
.nav-links ul li a,
.nav-links ul li span {
    color: var(--paragraph-text-color);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--paragraph-font);
    text-transform: capitalize;
    cursor: pointer;
    padding: 20.5px 0;
    text-decoration: none;
}

.nav-links ul li span svg {
    transition: ease .3s;
}

.nav-links ul li:hover span svg {
    transform: rotate(-180deg);
}

.sub-menu ul li a,
.nav-links ul li {
    position: relative;
}

.sub-menu ul li::after,
.nav-links ul li::after {
    content: "";
    position: absolute;
    right: 0px;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: var(--paragraph-text-color);
    z-index: 1;
    transition: ease .3s;
}

.sub-menu ul li:hover::after,
.nav-links ul li:hover::after {
    left: 0px;
    width: 100%;
}

.sub-menu {
    position: absolute;
    left: 0;
    top: 54px;
    padding: 20px;
    background-color: var(--white);
    opacity: 0;
    visibility: hidden;
    transition: ease .3s;
    width: 200px;
    z-index: 2;
    box-shadow: 0 3px 12px rgb(0 0 0 / 10%);
}

.nav-links ul li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    top: 40px;
}

.sub-menu ul li a {
    padding: 10px 0;
    display: block;
}

.sub-menu ul li::after {
    bottom: 0;
}

.sub-menu ul li:last-child a {
    margin: 0;
}

.navbar-btn {
    display: flex;
}

.navbar-btn .btn {
    padding: 11px 20px;
    font-weight: 500;
    font-size: 16px;
}

/* navbar section css end */

/* footer-section css start */

/* footer-section css end */

@media only screen and (max-width: 992px) {

    /* common css start */
    body {
        margin: 52px 0 0 0;
    }

    .section-btn {
        margin: 40px 0 0 0;
    }

    .section {
        padding: 50px 0;
    }

    .section-heading-wrapper {
        margin-bottom: 35px;
    }

    .container {
        padding: 0 16px;
    }

    /* common css end */

    /* navbar css start */
    .navbar {
        height: 52px;
    }

    .navbar-logo {
        max-width: 200px;
    }

    .navbar-wrapper {
        flex-direction: row-reverse;
    }

    .nav-link-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.3);
        height: 100vh;
        z-index: 9999;
        transition: 300ms;
        opacity: 0;
        visibility: hidden;
        margin: 0;
    }

    .nav-link-wrapper.active {
        opacity: 1;
        visibility: visible;
    }

    .nav-link-wrapper-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 340px;
        background-color: var(--white);
        height: 100vh;
        z-index: 2;
        transition: 300ms;
        transform: translateX(-100%);
    }

    .nav-link-wrapper-inner.active {
        transform: translateX(0);
    }

    .nav-links {
        overflow-y: auto;
        height: calc(100% - 121px);
    }

    .mobile-menu-close-window-btn {
        display: block;
    }

    .mobile-side-bar-top {
        display: flex;
        height: 52px;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        border-bottom: 1px solid var(--border-color);
        flex-direction: row-reverse;
    }

    .mobile-menu-btn {
        display: block;
    }

    .nav-links ul {
        display: flex;
        gap: 0;
        flex-direction: column;
        padding: 16px;
    }

    .nav-links ul li {
        border-bottom: 1px solid var(--border-color);
    }

    .sub-menu ul li a,
    .nav-links ul li a,
    .nav-links ul li span {
        font-weight: 600;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links ul li span .icon {
        padding: 0;
        border: none;
    }

    .nav-links ul li::after {
        display: none;
    }

    .sub-menu ul li::after {
        display: block;
        height: 1px;
        background-color: var(--border-color);
    }

    .sub-menu ul li:first-child a {
        padding-top: 0;
    }

    .sub-menu ul li:last-child::after {
        display: none;
    }

    .sub-menu {
        position: unset;
        padding: 0 0 0 16px;
        background-color: transparent;
        opacity: 1;
        visibility: visible;
        transition: unset;
        width: 100%;
        display: none;
        box-shadow: none;
    }

    .sub-menu ul li::after {
        width: 100%;
        height: 1px;
    }

    .sub-menu ul {
        padding: 0;
    }

    .sub-menu ul li {
        border: none;
    }

    .sub-menu ul li a,
    .sub-menu ul li span {
        padding: 10px 0;
        margin: 0;
    }

    .nav-links ul li span:hover svg {
        transform: unset;
    }

    .nav-links ul li .dropdown-btn.active .icon svg {
        transform: rotate(-180deg);
    }

    .navbar-btn {
        display: none;
    }

    /* navbar css end */

    /* footer-section css start */

    /* footer-section css end */

}

@media only screen and (max-width:767px) {

    /* common css start */
    .section-btn {
        margin: 30px 0 0 0;
    }

    .section-heading-wrapper {
        margin-bottom: 30px;
    }

    .section-heading {
        font-size: 30px;
    }

    .section-heading-text {
        font-size: 16px;
        line-height: 24px;
        padding: 16px 0 0 0;
    }


    .btn {
        font-size: 16px;
        padding: 15px 32px;
    }

    /* common css end */

    /* footer section css start */

    /* footer section css end */
}

@media only screen and (max-width: 575px) {

    /* common css start */
    .section-heading {
        font-size: 24px;
        line-height: 32px;
    }

    .section-heading-text {
        font-size: 14px;
        line-height: 20px;
        padding: 10px 0 0 0;
    }

    .section-btn .btn {
        max-width: 100%;
    }

    /* common css end */

    /* footer section css start */

    /* footer section css end */
}